@charset "utf-8";

* {
    font-family: Verdana, Geneva, sans-serif, "Times New Roman", Times, serif, Microsoft JhengHei;
}

html,
body {
    height: 100%;
    color: #3e454f;
    margin: 0;
    padding: 0;
    cursor: default;
}

a {
    color: #666;
}

#wrapper {
    padding: 0px;
    margin: 0px;
    min-height: 100%;
    position: relative;
}

.red-bg {
    background-color: #2d9c00;
    min-height: 100%;
    position: relative;
}

.gray-bg {
    background-color: #f3f3f4;
    min-height: 100%;
    position: relative;
}

.loginForm {
    background-color: #ffffff;
    padding: 15px 15px 20px;
    width: 370px;
    justify-content: space-between;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.logoSize {
    width: 100px;
    top: 15px;
    left: 15px;
    height: 50px;
}

.logoSize div {
    background-size: auto 45px;
}

.loginFormStyle {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginFormStyle form {
    width: 270px;
}

.nologo {
    background-image: url(../images/UU.jpg);
    background-repeat: no-repeat;
    background-size: auto 35px;
    font-size: 22px;
    color: #3e454f;
    text-indent: 120px;
    font-weight: bold;
    height: 50px;
    padding-top: 10px;
}

.loginText {
    padding: 0px 30px 100px;
    word-wrap: break-word;
    background-color: #D91C27;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
}

.loginText div {
    color: #ffedcb;
}

.formButton {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.formButton div {
    border-radius: 25px;
    padding: 6px 24px;
}

/* header {} */

header {
    padding: 0.1px 0 0 0;
}

header .logo {
    background-image: url(../images/logo.png);
    background-position: 12px 50%;
    color: #d80c18;
    margin: 0 auto;
    padding: 24px 0 0 12px;
}

header .navbar-right {
    margin-right: 0;
    margin-top: -35px;
    color: #666;
}

header .navbar-right li {
    margin-right: 1.5em;
}

header .navbar-right li span {
    margin-right: .4em;
}

nav.menu {
    /*background-color: #f8f8f8;*/
    position: relative;
    z-index: 10;
    background: #f4f4f4;
    background: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#e0e0e0));
    background: -webkit-linear-gradient(top, #f4f4f4, #e0e0e0);
    background: -moz-linear-gradient(top, #f4f4f4, #e0e0e0);
    background: -ms-linear-gradient(top, #f4f4f4, #e0e0e0);
    background: -o-linear-gradient(top, #f4f4f4, #e0e0e0);
    background: linear-gradient(top, #f4f4f4, #e0e0e0);
}

nav.menu ul {
    padding-left: 0;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
    white-space: nowrap;
    /* 避免文字換行 */
    margin-bottom: 0;
}

nav.menu ul li a:hover {
    background-color: #FBFBFD;
    text-decoration: none;
    box-shadow: none;
}

nav.menu ul li {
    position: relative;
    /* 使子選單依照母選單的座標顯示 */
}

/* 設定母選單的連結樣式 */

nav.menu div ul li a {
    text-decoration: none;
    color: #969696;
    font-weight: bold;
    padding: 10px 15px 10px 15px;
    display: block;
    /* background-color: red; */

}

nav.menu ul li ul li a {
    font-weight: normal;
    background-color: #F1F2F6;
    color: #969696;
}


nav.menu ul li:hover>a {
    color: #d80c18;
    font-weight: bold;
    border-radius: 3px;
}

nav.menu ul li:hover>ul {
    display: block;
    /* 滑鼠滑入母選單後，顯示子選單 */
    padding-left: 0;
    background-color: #FBFBFD;
    box-shadow: -3px 10px 45px -3px #D4D2D2;
    border: 1.5px solid #EBEBEE;
}

nav.menu>ul>li {
    display: inline-block;
    /* 使一級選單排成一橫列 */
}

/* 二級選單顯示於一級選單的正下方 */

nav.menu ul ul {
    position: absolute;
    top: 100%;
    list-style: none;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    display: none;
}

/* 三級選單則顯示於二級選單的右方 */

nav.menu ul ul ul {
    position: absolute;
    left: 100%;
    top: 0;
}

.breadcrumb>.active {
    color: #d80c18;
}

.breadcrumb {
    background-color: #f8f8f8;
}

.content {
    margin: 20px auto 0 auto;
    width: 96%;
    min-height: 100%;
}

.pagination {
    display: flex;
    justify-content: center;
}

.nav-tabs {
    border-bottom: 1px solid #d80c18;
}

.nav-tabs>li>a {
    padding: 8px;
}

.nav-tabs>li>a:hover {
    border-color: #eee #eee #d80c18;
    background-color: #eae8dc;
    color: #d80c18;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    color: #d80c18;
    border: 1px solid #d80c18;
    border-bottom-color: transparent;
}

.tab-content {
    padding: 20px;
}

.table-01 tbody>tr>th {
    text-align: right;
    white-space: nowrap;
    border-right: 1px solid #ddd;
    width: auto;
    vertical-align: middle;
}

.table-01 tbody>tr:first-child>td,
.table-01 tbody>tr:first-child>th {
    border-top: none;
}

.table-01 code {
    margin: auto 5px;
    color: #d80c18;
}

.event-img img {
    border: 1px solid #999999;
    margin: 12px 0;
}

code span.glyphicon {
    margin-right: 5px;
}

.tip {
    color: #999999;
    font-size: 13px;
    padding: 4px 0 0 0;
}

input {
    padding: 2px 4px;
}

.s {
    color: #d80c18;
    margin-right: 4px;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
    outline: 0 none;
}

.btn-danger {
    background-color: #ffffff;
    border-color: #FF5A60;
    color: #FF5A60;
}

.btn-danger:hover {
    color: #ffffff;
    background-color: #FF5A60;
    border-color: #FF5A60;
}

.btn-danger:active,
.btn-danger:focus,
.btn-danger:active:focus {
    color: #ffffff;
    background-color: #FF5A60;
    border-color: #FF5A60;
}

.btn-del {
    background: url(../images/img_15.png) no-repeat;
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
    border: none;
}

.btn-white {
    color: #d80c18;
    background-color: #fff;
    border-color: #d80c18;
}

.btn-white:hover {
    color: #fff;
    background-color: #d80c18;
    border-color: #d80c18;
}

.btn-white:active,
.btn-white:focus,
.btn-white:active:focus {
    color: #fff;
    background-color: #3e454f;
    border-color: #3e454f;
}

.btn-gray {
    color: #ffffff;
    background-color: #3c3c3c;
    border-color: #3c3c3c;
}

.btn-gray:hover,
.open>.dropdown-toggle.btn-gray:hover {
    color: #3e454f;
    background-color: #ebeced;
    border-color: #c6c6c8;
}

.btn-gray:active,
.btn-gray:focus,
.btn-gray:active:focus,
.open>.dropdown-toggle.btn-gray,
.open>.dropdown-toggle.btn-gray:focus {
    color: #fff;
    background-color: #9ea2a7;
    border-color: #9ea2a7;
}

.ts-pagination>li>a,
.ts-pagination>li>span {
    color: #3e454f;
}

.ts-pagination>.active>a,
.pagination>.active>span,
.ts-pagination>.active>a:hover,
.ts-pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
    background-color: #d80c18;
    border-color: #d80c18;
    color: #fff;
}

.ts-pagination>li>a:hover,
.ts-pagination>li>span:hover,
.ts-pagination>li>a:focus,
.ts-pagination>li>span:focus {
    color: #3e454f;
    background-color: #ebeced;
}

.w-text {
    width: 400px;
}

.w-date {
    width: 180px;
}

.text-center nav ul.pagination {
    margin: 0;
}

.btn-ft {
    margin-bottom: 12px;
}

.dropdown {
    height: 60px;
}

.dropdown-menu {
    /* min-width: auto;
    right: 0;
    left: auto; */
    border: none;
    padding: 0;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    background-color: #FF5A60;
    color: #fff;
}

.dropdown-menu>li>a {
    padding: 12px 20px 12px;
}

.dropdown-menu>li>a>span .okcolor:hover,
.dropdown-menu>li>a>span .okcolor:focus {
    color: #fff;
}

.search {
    border: 1.4px solid #d80c18;
    border-radius: 6px;
    margin: 0 auto 20px auto;
    display: table;
}

.table-search th,
.table-search td {
    padding: .5em 1em;
}

.table-search th {
    background: #f1fcf0;
    border-radius: 5px 0 0 5px;
    color: #d80c18;
    border-right: 1px solid #d80c18;
}

.table-search td ul {
    margin: 0;
    padding-left: 0;
}

.table-search td ul li {
    list-style: none;
    padding: .5em;
    display: inline-block;
    /*min-width: 32.5%;*/
    white-space: nowrap;
}

.table-search tbody tr td:last-child {
    border-left: 1px solid #d80c18;
    border-radius: 0 6px 6px 0;
}

.top-line {
    border-top: 10px solid #3c3c3c;
}

.box-01 {
    margin: 20px 0;
}

.box-01 ul {
    padding-left: 0;
}

.box-01 ul li {
    list-style: none;
    margin-bottom: 12px;
}

.box-01 ul li span.label {
    font-size: 14px;
    margin-right: .5em;
}

.label-danger {
    background-color: #26922c;
}

.label-gray {
    background-color: #3e454f;
}

.label-lightgray {
    background-color: #9ea2a7;
}

.table-03 {
    background-color: #ffffff;
    margin-top: 12px;
}

.table-03 th,
.table-03 td {
    text-align: center;
}

.table-03 tbody tr th {
    border-bottom: 3px solid #3e454f;
}

.error-header {
    background: #fff;
    height: 280px;
}

.error-container {
    background: rgba(0, 0, 0, .05);
    text-align: center;
    white-space: nowrap;
}

.error-container h4 {
    font-size: 60px;
    margin: -86px 0 0 0;
    text-align: center;
    color: #2d9c00;
    font-weight: 100;
    padding-top: 30px;
}

.error-divider {
    margin-top: -27px;
    padding: 30px 0;
}

.error-container h5 {
    font-size: 40px;
    font-weight: 300;
    margin: 0;
    color: #ffffff;
}

.btn-return {
    background-color: transparent;
    border-color: #ffffff;
    color: #ffffff;
    margin: 90px auto 30px auto;
}

.btn-return:hover,
.btn-return:focus {
    background-color: #ffffff;
    color: #d80c18;
}

.msg {
    width: 90%;
    margin: 16px auto;
    color: #3e454f;
    font-size: 17px;
}

.modal-bg-red {
    background-color: #FF5A60;
    border-radius: 4px 4px 0 0;
}

.modal-bg-red>.modal-title {
    color: #fff;
}

.t-center {
    text-align: center;
}

/* footer */

#copyright {
    background-color: #d80c18;
    background-repeat: no-repeat;
    background-position: center 0px;
    position: absolute;
    height: 40px;
    bottom: 0;
    width: 100%;
}

#copyright>p {
    color: #ffffff;
    font-size: 13px;
    line-height: 40px;
    margin-bottom: 0px;
    text-indent: 1em;
    text-align: center;
}

.table-02>tbody>tr:first-child>td>.b-up {
    display: none;
}

.table-02>tbody>tr:last-child>td>.b-down {
    display: none;
}

.table-04>tbody>tr>th {
    white-space: nowrap;
}

.table-04>tbody>tr>td {
    white-space: nowrap;
}

.formStyle {
    display: inline-block;
    vertical-align: middle;
    margin: 5px 10px 5px 0;
}

.btn-success {
    background: #fff;
    color: #d80c18;
    border-color: #d80c18;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background: rgba(0, 0, 0, 0);
}

button.btn.btn-success.btn-green {
    background: #000000;
    color: #fff;
    border-color: #000000;
}

button.btn.btn-success.btn-green:hover {
    background: #d80c18;
    color: #fff;
    border-color: #d80c18;
}

.flexBtn {
    align-items: left;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 0 0 10px;
}

.fontclass {
    font-size: 1.1em;
}

/* menu格線 */
.separator {
    position: relative;
}

.separator:after {
    position: absolute;
    top: 0.6em;
    height: calc(100% - 0.8em);
    left: 0;
    content: '';
    width: 0;
    border-left: solid #E9ECF5 2px;
}

.separatorPerson {
    position: relative;
}

.separatorPerson:after {
    position: absolute;
    top: 0.6em;
    height: calc(100% - 0.8em);
    left: -40px;
    content: '';
    width: 0;
    border-left: solid #E9ECF5 2px;
}

/* 背景陰影 */
.baseColor {
    box-shadow: -3px 18px 45px 5px #D4D2D2;
    -webkit-box-shadow: -3px 18px 45px 5px #D4D2D2;
    -moz-box-shadow: -3px 18px 45px 5px #D4D2D2;
    -o-box-shadow: -3px 18px 45px 5px #D4D2D2;
}

/* menu樣式 */
.menuStyle {
    background-color: #fff;
    border-radius: 25px 25px 0 0;
    padding-left: 0px;
    padding-right: 0px;
}

/* 背景樣式 */
.backgroundStyle {
    background-color: #FBFBFD;
    border-radius: 0 0 25px 25px;
}

/* 麵包削位置 */
.breadcrumbColor {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 35px 0;
}

.breadcrumbColor div span:first-child {
    font-size: 1.5em;
    margin-right: 15px;
    font-weight: bold;
}

.breadcrumbColor div span:nth-child(2) {
    margin-right: 15px;
    font-size: 0.9em;
}

.breadcrumbColor div span:last-child {
    font-size: 1.5em;
    color: #9a9ea691;
    font-weight: bold;
}

/* 搜尋框focus */
.redline {
    border: 1.5px solid;
    border-color: #ccc;
    width: 100%;
    border-radius: 3px;
}

.redline:hover {
    border-color: #FF5A60;
}
.redlineHelf {
    border: 1.5px solid;
    border-color: #ccc;
}

.redlineHelf:hover {
    border-color: #FF5A60;
}

.timeSearch {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

/* 切換頁按鈕樣式 */
.pager li>a:hover,
.pager li>a:focus {
    background-color: #FF5A60;
    color: #ffffff;
}

/* 列表標題 */
.listTitle {
    margin: 50px 0 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.listTitle div {
    font-size: 1.5em;
    margin-right: 15px;
    font-weight: bold;
}

/* 列表表頭 */
.listNameColor div div div:first-child {
    color: #9a9ea691;
}

/* 列表放大 */
.bodylist:hover {
    transform: scale(1.25) translateX(-50px);
    box-shadow: 1px 2px 20px 0px #D4D2D2;
    -webkit-box-shadow: 1px 2px 20px 0px #D4D2D2;
    -moz-box-shadow: 1px 2px 20px 0px #D4D2D2;
    -o-box-shadow: 1px 2px 20px 0px #D4D2D2;
}

/* 報表文字靠右 */
.report_digital {
    text-align: right;
    padding-right: 40px;
}

/* 外框padding */
@media (min-width: 768px) {
    .container.baseColor.backgroundStyle {
        padding: 0 60px 0px 60px;
    }
}

@media (min-width: 992px) {
    .container.baseColor.backgroundStyle {
        padding: 0 80px 0px 80px;
    }
}

@media (min-width: 1200px) {
    .container.baseColor.backgroundStyle {
        padding: 0 120px 0px 120px;
    }
}

/* 查詢樣式 */
.queryStyle {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.queryStyle .redlineHelf {
    width: 49.5%;
    border-radius: 3px;
}

.queryMargin {
    margin: 35px 30px 30px 30px;
}

.queryMargin>div:first-child {
    font-weight: bold;
}

/* list內容排版 */
.orderText {
    line-height: 20px;
    margin: 29px 0 30px 0;
    padding-right: 10px;
}
.tbodyStyle{
    border: 1.5px solid #EBEBEE;
    border-radius: 3px;
    margin-bottom: 15px;
    background-color: #fff;
    word-break: break-all;
}
/* 列表第一行樣式 */
.firstListStyle {
    flex: 1;
    display: flex;
    line-height: 20px;
    margin-bottom: 30px;
}

/* 列表文字樣式 */
.textStyle {
    overflow-wrap: break-word;
    padding-right: 20px;
}

#showbox {
    font-size: 0.9em;
    color: #9a9ea691;
}
