<nav class="container navbar menu" style="border: none;background-color: #fff;border-radius: 25px 25px 0 0;padding-left: 0px;padding-right: 0px;margin-bottom: 0px;">
  <div style="justify-content: space-between;border-radius: 25px 25px 0 0;background-color: #FBFBFD;border-bottom: #ccc 0.6px solid;display: flex;padding: 15px 25px 0 25px;">
    <ul class="nav navbar-nav">
      <li style="padding-right: 45px;padding-top: 5px;">
        <div class="nologo" style="width: 80px">
        </div>
      </li>
      <li class="separator">
        <a href="#">
          <div>SQL Inject</div>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a href="sqlInject.html">
              <div>SQL Inject練習</div>
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">
          <div>Xss</div>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a href="xssSample.html".html">
              <div>Xss 練習</div>
            </a>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav">
      <li class="separatorPerson">
        <a href="#" style="display: flex;padding-right: 60px;">
          <div class="glyphicon glyphicon-user" style="color: black;padding: 2px 20px 0 0;"></div>
          <div>沈心安</div>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a href="login.html">
              <div>登出</div>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
